[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
black = "*"
jupyterlab = "*"
ipywidgets = "*"
altair = "*"
seaborn = "*"

[packages]
emoji = "*"
numpy = "*"
pandas = "*"
tweepy = "*"
tqdm = "*"
google-cloud-profiler = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
